.market-pairs {
	height: 1120px;
}

.market-pairs-mobile {
	height: 360px;
}

.order-book {
	// height: 531px;
}

// Same height cards
.market-history,
.history-order {
	height: 330px;
}

.live-rankings {
	height: 712px;
}

.market-trade {
}

.all-players {
	height: 496px;
}

.my-rewards,
.market-activity,
.markets,
.my-transactions {
	height: 730px;
}

.market-news {
	height: 699px;
}

.deposit-history {
	height: 526px;
}

.player-stats {
	height: 692px;
}
